@font-face {
  font-family: Spartan;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: 
    /* local('SpartanMB'),  */
    /* local('Spartan'),  */
    /* local('Spartan-Light'), */ url('./SpartanMB-Light.otf')
    format('opentype');
}

@font-face {
  font-family: Spartan;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
    /* local('SpartanMB'),  */
    /* local('Spartan'),  */
    /* local('Spartan-Regular'), */ url('./SpartanMB-Regular.otf')
    format('opentype');
}

@font-face {
  font-family: Spartan;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: 
    /* local('SpartanMB'),  */
    /* local('Spartan'),  */
    /* local('Spartan-Bold'), */ url('./SpartanMB-Bold.otf')
    format('opentype');
}

/* export const SpartanLight = {
  fontFamily: 'Spartan',
  fontStyle: 'normal',
  fontDisplay: 'swap',
  fontWeight: 700,
  src: `
    local('Spartan'),
    local('Spartan-Light'),
    url(${SpartanLightOTF}) format('opentype')
  `,
}

export const SpartanRegular = {
  fontFamily: 'Spartan',
  fontStyle: 'normal',
  fontDisplay: 'swap',
  fontWeight: 400,
  src: `
    local('Spartan'),
    local('Spartan-Regular'),
    url(${SpartanRegularOTF}) format('opentype')
  `,
  unicodeRange:
    'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF',
}

export const SpartanBold = {
  fontFamily: 'Spartan',
  fontStyle: 'normal',
  fontDisplay: 'swap',
  fontWeight: 500,
  src: `
    local('Spartan'),
    local('Spartan-Bold'),
    url(${SpartanBoldOTF}) format('opentype')
  `,
} */
