/* @font-face {
  font-family: 'Spartan';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 300;
  src: url(../fonts/spartan/SpartanMB-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Spartan';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 400;
  src: url(../fonts/spartan/SpartanMB-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Spartan';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 500;
  src: url(../fonts/spartan/SpartanMB-Bold.otf) format('opentype');
} */

html,
body {
  margin: 0;
  padding: 0;
  /* color: white; */
  /* background-color: black; */
  /* font-family: Spartan, 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

::-webkit-scrollbar {
  display: none;
}

* a {
  text-decoration: inherit;
  color: inherit;
}

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
